.header{
    background-color: #3880ff;
    padding: 10px;
    color: white;
    border-radius: 10px;
}
.name{
    color: #3880ff;
}
.content{
    background-color: #e4ebf6;
    padding: 5px;
    border-radius: 10px;

}